# Duplicate Data
It turns out that we have quite a bit of duplicate data in our dataset which is making training less useful and likely over estimating our model's effectiveness because of repeated data between the test and train datasets.

Let's remove the duplicates.

In [7]:
import pandas as pd
df = pd.read_csv("cleaned_data/clean_2.csv", keep_default_na=False)
df

         answer                                 clue
0           pat  action done while saying "good dog"
1       rascals                      mischief-makers
2           pen          it might click for a writer
3           sep                             fall mo.
4           eco                kind to mother nature
...         ...                                  ...
770356      nat                      actor pendleton
770357    shred                                  bit
770358      nea                       teachers' org.
770359      beg                             petition
770360      sis                          family girl

[770361 rows x 2 columns]

In [8]:
dropped_duplicates = df.drop_duplicates()
print(f'Dropped {len(df) - len(dropped_duplicates)} duplicates')
print(f'{len(df)=},{len(dropped_duplicates)=}')

Dropped 220408 duplicates
len(df)=770361,len(dropped_duplicates)=549953

In [9]:
dropped_duplicates.to_csv('cleaned_data/clean_3.csv', index=False)